body {
  margin: 0;
  font-family: 'Noto Serif', serif;
  background-color: rgb(34, 151, 151);
  color: #001;
}

a{
  text-decoration:none ;
  color: #001;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
